body{
  margin:0;
  box-sizing:border-box;
}

.Site{
  display:flex;
  display:table;
  height:100%;
  width:100%;
  flex-direction: column;
  text-align: center;
}

.header{
  font-family: 'Roboto', sans-serif;
  background: rgba(142,177,210,1);
  background: -moz-linear-gradient(top, rgba(142,177,210,1) 0%, rgba(202,117,137,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,177,210,1)), color-stop(100%, rgba(202,117,137,1)));
  background: -webkit-linear-gradient(top, rgba(142,177,210,1) 0%, rgba(202,117,137,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.header h1{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size:7vh;
  justify-content: center;
  font-weight:bold;
  letter-spacing: 1px;
}

.header nav ul{
  list-style-type: none;
  padding:0;
  margin: 0;
  font-size: 2.5vh;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}

.nav-bar li{
  padding: 10px;
}
.nav-bar li:not(:last-child){
  border-right: 1px solid #FFFFFF;
}

.nav-bar li a{
  text-decoration: none;
  color: white;
}

.header p{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: thin;
  font-size: 2vh;
}

.strengths-container h2, .skills h2, .careerpath h2{
  font-family: 'Roboto', sans-serif;
  color: #000066;
  text-transform: uppercase;
  font-weight: bold;
  margin:0;
  padding:30px;
  background-color: #ffe9e5;
  font-size: 3vh;
}

.Site-content{
  flex: 1;
  height:100%;
  padding-bottom: 80px;
}

/*strengths*/
.strengths-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.strengths{
  background: url(../images/full-brain.png) center no-repeat;
  background-size: 45em, auto, contain;
  display:flex;
  flex:6;
  justify-content: center;
}

.strengths-column-1{
  display:flex;
  flex:2;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.space-holder{
  display:flex;
  flex:2;
  padding:6em;
}

.strengths-column-2{
  display:flex;
  flex:2;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
}

.strengths-blurb p, .strengths-blurb-left, .strengths-blurb-time{
  font-family: 'Raleway', sans-serif;
  text-align: left;
  color:#acac8e;
  font-size:2vh;
}

.strengths-blurb-left{
  color:#acac8e;
  padding-left:75px;
}

.strengths-blurb-time{
  color:#acac8e;
  padding-top: 30px;
}

.strengths h3, .words h3, .career-path-content h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #000059;
  border-bottom: 2px solid #ffa495;
  font-size:2.5vh;
  text-align:center;
  margin: 1vh;
}

/*skills*/
.skills-content{
  display:flex;
  flex-direction: row;
  flex:3;
  height:85vh;
  margin-bottom: 50px;
  padding-top: 2em;
}

.skills-content>img{
  flex:1;
  height:85vh;
  width:15em;
}

.skills-words-container{
  display:flex;
  flex:1;
  flex-direction: column;
  padding-right: 1em;
  justify-content: space-between;
}

.skills-stuffs{
  display:flex;
  flex-direction: row;
  flex:3;
}

.skills-stuffs>img{
  margin:3.5vh;
  height:9vh;
  display: flex;
}

.words{
  flex:2;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding:.5vh;
}

.words p{
  font-family: 'Raleway', sans-serif;
  color:#acac8e;
  margin:0;
  padding-bottom:1vh;
  font-size:2vh;
}

/*career path*/
.career-path-content{
  display:flex;
  flex-direction: row;
  flex:7;
  padding:.7em;
}
.career-path-content .dates{
  display:none;
}

.career-path-content .path-icons{
  height: 7vh;
}

.career-path-content p{
  font-family: 'Raleway', sans-serif;
  font-size:2.4vh;
  color: #acac8e;
}

.path-column-1{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  padding:1em;
}

.path-column-2{
  display:flex;
  flex:2;
  flex-direction: column;
  justify-content: space-around;
  padding:.5em;
}

.path-column-3{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 75px;
}

.path-column-4{
  display:flex;
  flex:3;
}

.path-img{
  padding-top:30px;
}

.path-column-5{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 240px
}

.path-column-6{
  display:flex;
  flex:2;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 35vh;
  padding-left: 2vh;
}

.path-column-7{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-evenly;
  padding:1em;
  padding-top: 205px;
}

/*contact*/
.contact{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #acac8e;
  height:24vh;
  font-size:1.5vh;
}

.footer{
  padding:4em;
}

.contact a{
  text-decoration: none;
  color:#000000;
}

.contact img{
  height: 5vh;
  margin: 1vh;
}

.contact h2{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin:0;
  padding:30px;
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
  .strengths-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
  .strengths-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .skills-content>img{
    flex:1;
    height:85vh;
    width:15em;
  }
}

/* iphone Portrait and Landscape */
/* Portrait and Landscape *//* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media screen
  and (device-width: 320px)
  and (device-height: 568px), only screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3), only screen
  and (device-width: 360px)
  and (device-height: 640px), only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    .space-holder{
      display: none;
    }
    .strengths{
      background: url(../images/full-brain.png) center no-repeat;
      background-size: 60em, auto, contain;
      display: flex;
      flex-direction: column;
    }
    .strengths-column-1, .strengths-column-2{
      background-color:rgba(255,255,255, 0.8);

    }
    .strengths-blurb-left{
      padding: 0;
    }
    .skills-head, .skills-branch{
      display:none;
    }
    .skills-words-container{
      padding:0;
    }
    .skills-stuffs img{
      flex:0;
    }
    .career-path-content{
      flex-direction: column;
    }
    .path-img, .path-column-1, .path-column-3, .path-column-5, .path-column-7{
      display:none;
    }
    .path-column-6{
      padding: 0;
    }
    .contact img{
      height:6vh;
      width:10vw;
    }
    .career-path-content h3{
      margin-bottom:0;
    }
    .career-path-content .dates{
     display:inline-block;
     margin-top:.5vh;
    }
    .skills-stuffs img{
      display:none;
    }
    .words p{
      font-size: 3vh;
    }
    .words h3{
      font-size: 3vh;
    }
  }

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .words p{
      font-size:1.5vh;
    }
    .skills-stuffs>img{
      height: 6vh;
    }
}
